$font: 'Jetbrains Mono', 'Fira code', 'Courier New', Courier, monospace;
$bg-stroke: #f0f0f0 1px;
$bg-stroke-width: 2.3rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.background {
    background-image: linear-gradient(to right, $bg-stroke, transparent 1px), linear-gradient(to bottom, $bg-stroke, transparent 1px);
    background-size: $bg-stroke-width $bg-stroke-width * 1;
    background-position: calc(50% - 0.9rem) calc(50% - 1.55rem);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    flex-direction: column;
}
