* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Jetbrains Mono", "Fira code", "Courier New", Courier, monospace; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem; }

.background {
  background-image: linear-gradient(to right, #f0f0f0 1px, transparent 1px), linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
  background-size: 2.3rem 2.3rem;
  background-position: calc(50% - 0.9rem) calc(50% - 1.55rem); }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column; }
  @media (min-width: 1200px) {
    main {
      flex-direction: row; } }

.info {
  width: 100%;
  max-width: 35rem;
  display: flex;
  flex-direction: column; }
  @media (min-width: 1200px) {
    .info {
      justify-content: flex-start;
      width: 27rem;
      margin-right: 1.5rem;
      margin-top: -0.5rem;
      flex-shrink: 0; } }
